aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 3rem;
    height: 3rem;
    margin-left: 2rem;
    cursor: pointer;
    position: relative;
    top: 0.4rem;
}

aside span {
    background-color: black;
    width: 100%;
    height: 5px;
}

aside:hover {
    transform: scale(1.1);
}

#menu {
    background-color: white;
    position: absolute;
    top: 3.8rem;
    left: 2rem;
    z-index: 2;
    padding: 1rem 4rem;
    display: none;
}

#menu a {
    display: block;
    color: black;
    text-decoration: none;
    margin: 1rem 0;
    cursor: pointer;
}

#menu a:hover {
    color: blue;
    text-decoration: underline;
}

#sale {
    position: relative;
    right: 1rem;
}

#sign {
    position: relative;
    right: 0.3rem;
}

button {
    position: relative;
    top: -1rem;
    left: 6rem;
    color: black;
    background-color: black;

}

button:hover {
    background-color: rgb(255, 66, 66);
}

#ikea {
    background-image: url(main-images/Picture34.jpg);
    height: 40.6rem;
    width: 100%;
    max-width: 60rem;
    object-fit: cover;
    position: relative;
    left: 2rem;
    top: 0.9rem;
}

#ikea h1 {
    font-size: 10rem;
    font-family: 'Inconsolata', monospace;
    letter-spacing: 1rem;
    color: yellow;
    position: relative;
    left: 18rem;
}

#ikea p {
    font-size: 3rem;
    color: white;
    position: relative;
    left: 3rem;
    top: 9rem;
}

#ikea span {
    font-size: 5rem;
    position: relative;
    top: 0.6rem;
    left: 2rem;
}

#all {
    position: absolute;
    top: 31rem;
    left: 35rem;
    transition: 2s;
}

#all:hover {
    transform: scale(1.1);
}

#go-to {
    position: relative;
    right: 0.1rem;
    top: 0.1rem;
    cursor: pointer;
}

#go-to p {
    background-color: rgb(255, 255, 78);
    padding: 2rem 2rem;
    border-top-left-radius: 6rem;
    border-bottom-left-radius: 6rem;
    font-size: 1.5rem;
    margin-right: 8rem;
}

#ikea-link {
    position: relative;
    left: 8.6rem;
    top: -7.17rem;
    background-color: rgb(230, 230, 68);
    border-top-right-radius: 6rem;
    border-bottom-right-radius: 6rem;
    padding: 1.5rem 1rem;
    padding-bottom: 1.8rem;
}

#ikea-link a {
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    position: relative;
    top: 0.5rem;
}

#ikea-link span {
    padding-left: 10rem;
}

.images {
    width: 25rem;
    height: 9.5rem;
    object-fit: cover;
    font-weight: bold;
}

#first-img {
    position: absolute;
    top: 3.9rem;
    left: 65rem;
}

#second-img {
    position: absolute;
    top: 14.2rem;
    left: 65rem;
}

#third-img {
    position: absolute;
    top: 24.5rem;
    left: 65rem;
}

#fourth-img {
    position: absolute;
    top: 34.9rem;
    left: 65rem;
}

.h3 {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

.h3:hover {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
}

#today {
    position: absolute;
    top: 4.6rem;
    left: 72rem;
}

#about {
    position: absolute;
    top: 14.6rem;
    left: 72rem;
}

#museum {
    position: absolute;
    top: 25.5rem;
    left: 71.5rem;
}

#h22 {
    position: absolute;
    top: 35.5rem;
    left: 73.5rem
}

#media-query {
    display: none;
}

@media (max-width: 768px) {
    body {
        background-color: black;
    }

    aside {
        display: none;
    }

    #menu {
        display: none;
    }

    #ikea {
        display: none;
    }

    #all {
        display: none;
    }

    #images {
        display: none;
    }

    #headings {
        display: none;
    }

    #media-query {
        text-align: center;
        display: block;
        color: white;
        position: relative;
        top: 13rem;
        right: 4rem;
        line-height: 1.7;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}