body {
    text-align: center;
    margin-top: 12rem;
}

h1 {
    font-size: 4rem;
}

img {
    height: 6rem;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: black;
    transition: 1s;
}

a:hover {
    background-color: black;
    color: white;
    padding: 0.5rem;
}