body {
    background-image: url(main-images/ikea-takes-over-pune-with-a-inr-100-crore-distribution-centre3-1366x768.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    width: 30rem;
    margin: 5rem auto;
    position: absolute;
    left: 5rem;
    border: 2px solid white;
    padding: 2rem 0;
    padding-left: 5rem;
    background-color: white;
    border-radius: 10px;
    padding-top: 3rem;
}

input {
    display: block;
    margin: 0.5rem 0;
    width: 100%;
    max-width: 20rem;
    height: 1.3rem;
}

label {
    font-weight: bold;
}   

select {
    display: block;
    margin: 1rem 0;
    padding: 0.5rem 0;
    padding-right: 15.9rem;
}

option {
    
}

#checkbox {
    position: relative;
    right: 9rem;
}

#agree {
    position: relative;
    top: -1.8rem;
    left: 2.4rem;
}

#terms {
    margin: 2rem 0;
}

button {
    position: absolute;
    top: 32rem;
    left: 15rem;
    background-color: black;
    padding: 0.5rem;
    border-radius: 8px;
}

button:hover {
    background-color: white;
}

button a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

button a:hover {
    color: black;
}